@import "~highlight.js/styles/atom-one-dark.css";
@import "~@lgv/visualization-chart/src/example/style/index.css";

.lgv-arc {
    cursor: pointer;
}

.lgv-arc:hover {
    fill: #7aaeb1;
    -moz-transition: fill 0.5s ease;
    -o-transition: fill 0.5s ease;
    -webkit-transition: fill 0.5s ease;
    transition: fill 0.5s ease;
}

.lgv-cell {
    stroke: grey;
}

.lgv-label-ring,
.lgv-label-arc {
    font-size: 0.8em;
}

.lgv-label {
    fill: lightgrey;
    font-size: 0.7em;
}

.lgv-label-ring {
    font-family: "Inter Bold";
    text-transform: uppercase;
}

.lgv-label-ring[data-ring="am"] {
    transform: translate(0,1.25em);
}

.lgv-label-arc[data-arc="12"] {
    display: none;
}